body {
    background-color: lightgray;
}

h1{
    color: rgb(12, 173, 167);
     background-color: white;
     font-family: Georgia, 'Times New Roman', Times, serif;
     font-weight: bold;
}

h2{
    color: rgb(12, 173, 167);
     background-color: white;
     font-family: Georgia, 'Times New Roman', Times, serif;
     font-weight: bold;
}

h3{
        color: rgb(12, 173, 167);
         background-color: white;
         font-family: Georgia, 'Times New Roman', Times, serif;
         font-weight: bold;
    }


p {
    color: slategray;
    font-family: sans-serif;
    font-size: 12;
    background-color: white;
    line-height: 2;
 }

 .container{
     background-color: white;
     padding-top: 30px;
     padding-left: 30px;
     padding-right: 30px;
     padding-bottom: 30px;
 }

 .navbar-brand {
    color: white;
    background-color: rgb(12, 173, 167);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

.footer {
    background-color: rgb(12, 173, 167);
}